ul {
    list-style: none;
    padding: 0px;
}

p, div, h1, h2, h3, h4, h5, h6, ul {
    margin: 0px;
}

img {
    display: block;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}