.button {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 25px;
    border: 1px solid var(--primary);
    color: var(--light);
    @include any-hover($property: background-color) {
        background-color: var(--primary);
    }
    &--light {
        color: var(--dark);
    }
}